.post{
    position: relative;
    &__title{
        position: absolute;
        top: 0;
        left: 2%;
        color: #fff;
    }
    &__meta{
        margin-top: 20px;
        margin-bottom: 20px;
       p{
        margin: 0;
        font-weight: 500;
       }
    }
    &__link{
        text-decoration: none;
        font-weight: 600;
    }
}